/* Pending Status */
.pending {
    background-color: rgb(163, 95, 95);
}

/* Completed Status */
.completed {
    background-color: rgb(95, 163, 101);
}

.pending:hover {
    background-color: rgb(181, 108, 108);
}

.completed:hover {
    background-color: rgb(107, 183, 114);
}